[Unit]
Description=code-as-infra reverse proxy
After=network-online.target

[Container]
Image=docker.io/alpine:3.24.1
ContainerName=cai-reverse-proxy
AutoUpdate=registry
Network=host
Volume=./logs:/logs

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
